@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black
}

@layer components {
    .button {
        @apply h-5 w-5 cursor-pointer transition transform duration-100 ease-out;
    }

    .spotifyLogo span {
        @apply h-[70px] !important
    }

    .timeRangeActive {
        @apply border-b-4 pb-4 border-[#1ED760]
    }
}


/* MY PERSONAL STYLES */

.scrollbar-style::-webkit-scrollbar {
    width: .7em;
}

.scrollbar-style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

.scrollbar-style::-webkit-scrollbar-thumb {
    background: #4D4D4D;
}